In [19]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import re
from bs4 import BeautifulSoup
import nltk
import os
%matplotlib inline

In [20]:
df_train = pd.read_csv("dataset/labeledTrainData.tsv", header=0, delimiter="\t")
df_train.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [29]:
from nltk.corpus import stopwords
def review_to_words( raw_review):
    review_text = BeautifulSoup(raw_review, features="html5lib").get_text()
    letters_only = re.sub("[^a-zA-Z]", " ", review_text)            
    words = letters_only.lower().split() 
    stops = set(stopwords.words("english"))                         
    meaningful_words = [w for w in words if not w in stops]         
    return(" ".join( meaningful_words ))

In [35]:
num_reviews = df_train["review"].size
clean_train_reviews = []

for i in range( 0, num_reviews):
    clean_train_reviews.append( review_to_words( df_train["review"][i]))

In [36]:
from sklearn.feature_extraction.text import CountVectorizer 
vectorizer = CountVectorizer(analyzer = "word", tokenizer = None, preprocessor = None, stop_words = None, max_features = 5000) 
train_data_features = vectorizer.fit_transform(clean_train_reviews)
train_data_features = train_data_features.toarray()

In [37]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 150) 
forest = forest.fit( train_data_features, df_train["sentiment"] )

In [38]:
test = pd.read_csv("dataset/testData.tsv", header=0, delimiter="\t", quoting=3 )
test.head()

           id                                             review
0  "12311_10"  "Naturally in a film who's main themes are of ...
1    "8348_2"  "This movie is a disaster within a disaster fi...
2    "5828_4"  "All in all, this is a movie for kids. We saw ...
3    "7186_2"  "Afraid of the Dark left me with the impressio...
4   "12128_7"  "A very accurate depiction of small time mob l...